#
# Gramene Curation server
#
#
# Handy documentation links:
#     location directive: http://nginx.org/en/docs/http/ngx_http_core_module.html#location
#


server {
    listen       8080;
    #server_name curate.gramene.org;
    #server_name brie6.cshl.edu;
    server_name $hostname;

    # Set the application root.
    # This should match the 'module' parameter in the uWSGI configuration file.
    #
    root /var/www/gramene-curation/gene_curation_project_home/base;

    #charset koi8-r;
    
    # Create separate logs for this server.
    #access_log  logs/host.access.log  main;
    error_log /var/log/nginx/gramene_curate_error.log error;
    access_log /var/log/nginx/gramene_curate_access.log; 

    # location directive ref: http://wiki.nginx.org/NginxHttpCoreModule#location

    # This is the most general description, which will be matched
    # if a more specific regular expression is matched.

    location / {
        # "@myapp" is a 'named location', defined below
        try_files $uri @myapp;
    }

    # The named location "@myapp" is defined here:
    #
    location @myapp {
        index  index.html index.htm;
        autoindex on;
        uwsgi_pass	unix:///tmp/uwsgi_gramene_curate.sock;
        include		uwsgi_params;
    }

    location /curationUI {
        root /var/www/gramene-curation/gene_curation_project_home/base;
    }

    location /static {
	root /var/www/gramene-curation/gene_curation_project_home/base/curationUI;
    }

    #location = / { 
	#root /path/here;
	#index index.html;	
     #}

    location = /favicon.ico {
        #alias /var/www/someicon.ico;
        log_not_found off;
        access_log off;
    }

    location = /apple-touch-icon.png {
        log_not_found off;
        access_log off;
    }

    location = /apple-touch-icon-precomposed.png {
        log_not_found off;
        access_log off;
    }

    #error_page  404              /404.html;
    #location = /404.html {
    #    root   /usr/share/nginx/html;
    #}

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/local/nginx/html;
    }

    # proxy any PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}


