<html>
<head>
</head>
<body>
	<h1>genes curated</h1>
	<table border=1 cellspacing=0 cellpadding=5>
		<tr>
			<th>user</th>
			<th>total</th>
			<th>okay</th>
			<th>flag</th>
			<th>not curated</th>
		</tr>
		{% for user in users %}
		<tr>
			<td><a href='/user?id={{user.pk}}'>{{user.email}}</a></td>
			<td align="right">{{user.genesCurated|length}}</td>
			<td align="right">{{user.genesCuratedWithFlag('okay')|length}} ({{'%d' % (100*user.genesCuratedWithFlag('okay')|length/user.genesCurated|length)}}%)</td>
			<td align="right">{{user.genesCuratedWithFlag('flag')|length}} ({{'%d' % (100*user.genesCuratedWithFlag('flag')|length/user.genesCurated|length)}}%)</td>
			<td align="right">{{user.genesCuratedWithFlag('curate')|length}} ({{'%d' % (100*user.genesCuratedWithFlag('curate')|length/user.genesCurated|length)}}%)</td>
		</tr>
		{% endfor %}
	</table>	
	{% if users|length == 1 %}
	<h2>genes flagged by {{users[0].email}}</h2>
	<ul>
		{% for gene in users[0].genesCuratedWithFlag('flag') %}
		<li>{{gene.gene_id}}</li>
		{% endfor %}
	</ul>
	{% endif %}
</body>
</html>